
    .body{
        background-color: #fff;
        padding-top: 15px;
    }
    .title{
    	height: 70px;
    	width: 100%;
        clear: both;
        border-top:1px solid #7ECEF4;
        border-bottom:1px solid #7ECEF4;
    }
    .title img{
    	width: 47px;
    	margin-left: 7.33%;
        margin-top: 11px;
        float: left;
    }
    .title-mid{
        float: left;
        height: 100%;
        width: 50%; 
        margin-left: 4.5%;
        line-height: 70px;
    }
    .title-mid span:nth-child(1){
        color: #35E47F;
        font-size: 30px;
       

    }
    .title span:nth-child(2){
    	color: #000;
        margin-left: 4.5%;
        font-size: 18px;
        font-weight: bold;
    }
    .title-rt{
        float: right;
        width: 70px;
        background-color: #FB6960;
        height: 100%;
        position: relative;
        
    }
    .in{
        position: absolute;
        left: 50%;
        top: 50%;
        margin-top: -15px;
        margin-left: -15px;
        text-align: center;
        font-size: 20px;
        color: #fff;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 1px solid #fff;
        line-height: 30px;

    }
    .choose {
       margin: 0 15px;
       height: 100px;
       clear: both;
       
    }
    .choose p{
        height: 40px;
        line-height: 40px;
        font-size: 18px;
        margin-left: 5%;
    }
    .choose-img li{
        width: 20%;
        height: 50px;
        text-align: center;
        float: left;
        cursor: pointer;
    }
    .project{
        width: 100%;
        position: relative;
        height: 50px;
        text-align: center;       
        border-bottom:1px solid #7ECEF4;
        margin-bottom: 10px;
    }
    .o{
        width: 100%;
         border-top:1px solid #7ECEF4;
    }
    .project span{
        position: absolute;
        left: 8%;
        top: 14px;
        font-size:18px; 
    }
    .project input{
        margin-top: 4px;
        width: 50%;
        height: 30px;
        font-size: 16px;
        border: none;
        border-bottom: 1px solid #959595;
        text-align: center;
    }
    .but{
        margin: 0 5%;
        background-color: #80C1FD;
        border: none;
        border-radius: 12px;
        text-align: center;
        width:90%;
        height:40px;
        line-height: 40px;
        font-size: 18px;
        color: #fff;
        display: block;
    }

/*增加部分——预览模块*/
.preview{
    width:100%;
    height:68px;
    border-top: 1px solid #7ecef4;
    border-bottom: 1px solid #7ecef4;
}
.preview_img{
    width:50px;
    height:50px;
    float:left;
    margin:12px 0 22px 7%;
}
.preview_num{
    width:24.4%;
    height:50px;
    float:left;
    margin:10px 0 22px 4.93%;
    font-size:30px;
    color:#606060;
    line-height:50px;
}
.cost{ color:#ff364e;}
.earn{ color:#35e47f;}
.preview_num span{ 
    font-size:17px;
    line-height:55px;
    display: block;
}
.preview_msg{
    width:27%;
    float:left;
    margin:12px 0 22px;
    font-size:18px;
    font-weight:500;
    color:#606060;
    line-height: 50px;
}

.preview_delete{
    width:65px;
    height:69px;
    float:right;
}
.preview_delete a{
    display:block;
    font-size:0;
}
.choose_img{
    width:48px;
    height:48px;
    border:2px solid #FB6960;
    border-radius:24px;
}


